.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* 调整为负值，确保在内容下方 */
  pointer-events: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* 兼容Safari */
  transition: all 0.3s ease;
}

/* 深色模式样式 */
@media (prefers-color-scheme: dark) {
  .background-blur {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

/* 浅色模式样式 */
@media (prefers-color-scheme: light) {
  .background-blur {
    background-color: rgba(255, 255, 255, 0.3);
  }
}